<!DOCTYPE html>
<html lang="en" ng-app="myApp">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>TeachMe</title>
        <link rel="shortcut icon" href="ic_launcher.png">
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css" />
        <link href="css/1-col-portfolio.css" rel="stylesheet">

        <script src="angular/angular.js"></script>
        <script src="js/app.js"></script>

       
    </head>

    <body ng-controller="gigsController">

        <!-- Navigation -->
        <nav style="background-color:rgba(1,1,1,0.90);" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="container" >
                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">
                    <img src="ic_launcher.png">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="home.html">TeachMe</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" >
                        <li>
                            <a href="AddGig.html">Add Gig</a>
                        </li>
                        <li>
                            <a href="myProfile.html">My Profile</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
            
        </nav>

        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <div ng-init="getAddress()" style="margin-top:10px" class="pull-right">
                        <h4>
                            <span><i class="fa fa-map-marker"></i> {{mylocation}} | </span>
                            <span><i class="fa fa-money"></i> 70 tCoins </span>
                        </h4>
                    </div>
                    <h1 class="page-header">Help Someone
                        <small>Gigs that you might Interested in?</small>

                        <form class="search" method="post" action="index.html" >
                            <input type="text" name="q" placeholder="Search..." />
                            <ul class="results" >
                                <li><a href="index.html"><h4>Search Result #1<br /><span>Description...</span></h4></a></li>
                                <li><a href="index.html"><h4>Search Result #2<br /><span>Description...</span></h4></a></li>
                                <li><a href="index.html"><h4>Search Result #3<br /><span>Description...</span></h4></a></li>
                                <li><a href="index.html"><h4>Search Result #4</h4></a></li>
                            </ul>
                        </form>

                    </h1>





                </div>
            </div>

            <!-- /.row -->

            <!-- Project One -->
            <div ng-init="getFeed()" class="row">
            <div ng-repeat="gig in gigs">
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive" src="gig.png" alt="">
                    </a>
                </div>


                <div class="col-md-8">
                    <a ng-click="view_gig(gig.ID)"><h4>{{gig.title}}</h4></a>
                    <p>{{gig.description}}</p>
                    <div>
                        <a class="btn btn-primary" href="#">Join this Group<span class="glyphicon glyphicon-chevron-right"></span></a>
                        <span class="pull-right"><i class="fa fa-map-marker"></i> <strong>{{gig.location}}</strong></span>
                    </div>
                    <br><br>
                    <div class="acidjs-rating-stars">
                        <form>

                            <input type="radio" name="group-1" id="group-1-0" value="5" /><label for="group-1-0"></label><!--
                            --><input type="radio" name="group-1" id="group-1-1" value="4" /><label for="group-1-1"></label><!--
                            --><input type="radio" name="group-1" id="group-1-2" value="3" /><label for="group-1-2"></label><!--
                            --><input type="radio" name="group-1" id="group-1-3" value="2" /><label for="group-1-3"></label><!--
                            --><input type="radio" name="group-1" id="group-1-4"  value="1" /><label for="group-1-4"></label>
                        </form>
                        <div class="numberCircle">{{gig.vote}}</div>
                        <br>
                   <!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="habr" data-icon_l="hrt1" data-icon_d="hrt1" data-i18n_like="Votes" data-identifier="item_1"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
                    </div>





                </div>
            </div>
            <!-- /.row -->

            <hr>
            </div>
           
            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; TeachMe 2015</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

    </body>

</html>
