<!DOCTYPE html>
<html lang="en" ng-app="myApp">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>TeachMe</title>
        <link rel="stylesheet" href="assets/css/style.css" />

        <!-- Font Awesome Stylesheet -->
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css" />

        <!-- Including Open Sans Condensed from Google Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic" />

        <link rel="shortcut icon" href="ic_launcher.png">
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/1-col-portfolio.css" rel="stylesheet">

        <script src="angular/angular.js"></script>
        <script src="js/app.js"></script>
        <style type="text/css">
            #map {
                height: 100%;
              }
        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body ng-controller="userController">

        <!-- Navigation -->
         <nav style="background-color:rgba(1,1,1,0.90);" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="container" ng-init="viewProfile()">
                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">
                    <img src="ic_launcher.png">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="home.html">TeachMe</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" >
                        <li>
                            <a href="AddGig.html">Add Gig</a>
                        </li>
                        <li>
                             <a href="myProfile.html">My Profile</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
            
        </nav>
        <br><br><br>
           <div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
         <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{userprofile.name}}</h2>
                    <p><strong>Email: </strong> {{userprofile.email}} </p>
                    <p><strong>Birthday: </strong> {{userprofile.DoB}} </p>
                    <p><strong>Skills: </strong>
                        <span class="tags">html5</span> 
                        <span class="tags">css3</span>
                        <span class="tags">jquery</span>
                        <span class="tags">bootstrap3</span>
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                </div>
                   <div id="map"></div>
                    <script>

                function initMap() {
                  var myLatLng = {lat: -25.363, lng: 131.044};

                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: myLatLng
                  });

                  var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                  });
                }

                    </script>
                    <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpAsccCYbofEsf3ZCKyXYI4QD7TlgG5dQ&signed_in=true&callback=initMap"></script>
  
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 5 </strong></h2>                    
                    <p><small>Followers</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>{{userprofile.tCoins}}</strong></h2>                    
                    <p><small>Credits</small></p>
                    <button class="btn btn-info btn-block"><span class="fa fa-money"></span> Transactions </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>{{userprofile.reputation}}</strong></h2>                    
                    <p><small>Reputation</small></p>
                    <button class="btn btn-danger btn-block"><span class="fa fa-flag"></span> Reputation </button>
                </div>
            </div>
         </div>                 
        </div>
    </div>
</div>
                <!-- /.container -->

                <!-- jQuery -->
                <script src="js/jquery.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="js/bootstrap.min.js"></script>

                </body>

                </html>
